# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
ios/Pods/
ios/DerivedData/
ios/build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro & Babel
.metro-health-check*
babel.config.js
metro.config.js

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Editor config
.vscode/
.idea/

# local env files
.env
.env*.local

# EAS cache
.cache/

# TypeScript
*.tsbuildinfo

# Jest
coverage/

# Local examples or test files
app-example